<%= form_for @opponent do |f| %>
  <p>
    <%= f.label "First Name" %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name%>
  </p>
  <p>
    <%= f.label "Age"%>
    <%= f.number_field :age %>
  </p>
  <p>
    <%= f.label "Right or Left Handed" %>
    <%= f.text_field :handedness %>
  </p>
  <p>
    <%= f.label "Style Tags:" %>
    <%= f.collection_check_boxes(:style_tag_ids, StyleTag.all, :id, :name) do |b| %>
      <p><%= b.check_box + b.text %></p>
    <% end %>
  </p>
  <p>
    <%= f.fields_for :style_tags, @opponent.style_tags.build do |style_tag_builder| %>
      <%= style_tag_builder.label "Add A New Style Tag:" %>
      <%= style_tag_builder.text_field :name %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
