<h1><%= @opponent.full_name %></h1>

<p>Age: <%= @opponent.age %></p>
<p>Plays: <%= @opponent.handedness %> handed</p>
<p>Record vs: </p>
<p>Style Tags: </p>
<ul>
  <% @opponent.style_tags.each do |style_tag| %>
    <li><%= style_tag.name %></li>
  <% end %>
</ul>

<p><%= link_to "Edit Opponent", edit_opponent_path(@opponent) %></p>
