<h1 class="inline"><%= @opponent.full_name %></h1> <%= link_to "Edit", edit_opponent_path(@opponent) %>

<p><b>Age:</b> <%= @opponent.age %></p>
<p><b>Plays:</b> <%= @opponent.handedness %> handed</p>
<p><b>Style Tags:</b> </p>
<ul>
  <% @opponent.style_tags.each do |style_tag| %>
    <li><%= style_tag.name %></li>
  <% end %>
</ul>

<% content_for :footer do %>
  <%= link_to "Back To Match", match_path(@opponent.match) %>
  <br>
  <br>
<% end %>
