<h1 class="inline">Your Profile</h1> <%= link_to "Edit Profile", edit_user_path(current_user) %>

<p><b>Name:</b> <%= @user.full_name %></p>
<p><b>Email:</b> <%= @user.email %></p>
<p><b>Overall Record:</b> <%= @user.overall_record %></p>
<p><b>Total Points:</b> <%= @user.points %></p>


<p><%= link_to "Your Tournaments", user_tournaments_path(@user) %> <%= link_to "Style Tags", style_tags_path %> <%= link_to "Previous Opponents", user_opponents_path(@user) %></p>

<p><button type="button" id="tournaments-data" value="<%= @user.id %>">Show Tournaments</button></p>

<div id="show-tournaments">
</div>
