<h1><%= @tournament.title %></h1>
<p><%= link_to "Edit Tournament", edit_tournament_path(@tournament) %> <%= link_to "Delete Tournament", tournament_path(@tournament), method: :delete %></p>
<p><b>Start Date:</b> <%= @tournament.start_date.strftime("%m/%d/%Y") if @tournament.start_date %></p>
<p><b>End Date:</b> <%= @tournament.end_date.strftime("%m/%d/%Y") if @tournament.end_date %></p>
<p><b>Location:</b> <%= @tournament.location %></p>
<p><b>Draw Size:</b> <%= @tournament.draw_size %></p>
<p><b>Points Won:</b> <%= @tournament.points %></p>
<p><b>Result:</b> <%= @tournament.result %></p>

<h2>Matches</h2>
<% @tournament.matches.each_with_index do |match, index| %>
  <p><%= index +1 %>. <%= link_to "#{match.round_num_or_name} vs #{match.opponent.full_name}", match_path(match) %> - <%= match.result %></p>
<% end %>

<p><%= link_to "Add Match", new_match_path(:tournament_id => @tournament.id) %></p>
