<%= form_for @match do |f| %>
  <p>
    <%= f.label "Date" %>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label "Time" %>
    <%= f.time_field :time %>
  </p>
  <p>
    <%= f.label "Tournament" %>
    <%= f.collection_select(:tournament_id, @tournaments, :id, :title, {selected: @tournament.id}) %>
  </p>
  <p>
    <%= f.label "Round" %>
    <% if @match.round %>
      <%= f.select :round, @match.round_options, selected: @match.select_default_round  %>
    <% else %>
      <%= f.select :round, @tournament.round_options %>
    <% end %>
  </p>
  <p>
    <%= f.label "Score" %>
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label "Check Box If You Won" %>
    <%= f.check_box :won %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
