<%= form_for(@match, url:{controller:'matches', action:'create'}, method:'post') do |f| %>
  <p>
    <%= f.label "Date" %>
    <%= f.date_field :date, required: true %>
  </p>
  <p>
    <%= f.label "Time" %>
    <%= f.time_field :time %>
  </p>
  <p>
    <%= f.label "Tournament" %>
    <%= f.collection_select(:tournament_id, @tournaments, :id, :title, {selected: @tournament.id}) %>
  </p>
  <p>
    <%= f.label "Round" %>
    <%= f.select :round, @tournament.round_options %>
  </p>
  <p>
    <%= f.label "Score" %>
    <%= f.text_field :score, required: true %>
  </p>
  <p>
    <%= f.label "Check Box If You Won" %>
    <%= f.check_box :won %>
  </p>
  <h3>Opponent:</h3>
    <%= f.fields_for :opponent do |opponent_builder| %>
      <p>
        <%= opponent_builder.label "First Name" %>
        <%= opponent_builder.text_field :first_name, required: true %>
      </p>
      <p>
        <%= opponent_builder.label "Last Name" %>
        <%= opponent_builder.text_field :last_name, required: true %>
      <p>
      <p>
        <%= opponent_builder.label "Age" %>
        <%= opponent_builder.number_field :age %>
      </p>
      <p>
        <%= opponent_builder.label "Plays" %>
        <%= opponent_builder.text_field :handedness %>
        <%= opponent_builder.label "Handed" %>
      </p>
    <% end %>
  <p>
    <% if @match.round %>
      <%= f.submit %>
    <% else %>
      <%= f.submit "Add Match", data: { disable_with: false } %>
    <% end %>
  </p>
<% end %>
