<h1 class="inline"><%= @match.round_num_or_name %></h1> <%= link_to "Edit Match", edit_match_path(@match) %> <%= link_to "Delete Match", match_path(@match), method: :delete %>
<p><%= @match.tournament.title %></p>

<h3>vs: <%= link_to "#{@match.opponent.full_name}", opponent_path(@match.opponent) %></h3>
<p><b>Date:</b> <%= @match.date.strftime("%m/%d/%Y") if @match.date %></p>
<p><b>Time:</b> <%= @match.time.strftime("%l:%M%p") if @match.time %></p>
<p><b>Score:</b> <%= @match.score %></p>
<% if @match.won %>
  <p><b>Result:</b> Won</p>
<% else %>
  <p><b>Result:</b> Lost</p>
<% end %>

<% content_for :footer do %>
  <%= link_to "Back To Tournament", tournament_path(@match.tournament) %>
  <br>
  <br>
<% end %>
