<h1>Round of <%= @match.round %></h1>
<h3>vs: <%= @match.opponent.full_name %></h3>
<p>Score: <%= @match.score %></p>
<% if @match.won %>
  <p>Result: Won</p>
<% else %>
  <p>Result: Lost</p>
<% end  %>

<p><%= link_to "Edit Match", edit_match_path(@match) %></p>
<p><%= link_to "Delete Match", match_path(@match), method: :delete %></p>
<p><%= link_to "Back To Tournament", tournament_path(@match.tournament) %></p>
