<!DOCTYPE html>
<html>
  <head>
    <title>TournamentTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <% if logged_in? %>
      <% if controller_name != "users" %>
        <p><%= link_to "Your Profile", user_path(current_user) %></p>
      <% end %>
      <p><%= link_to "Log Out", logout_path %></p>
    <% end %>
  </footer>
</html>
